html {
    padding: 0em 0.4em;
    margin: auto;
    line-height: 1;
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
    color: #333;
}

p {
    max-width: 50em;
}

article {
    margin-bottom: 6em;
}

.title {
    font-style: italic;
    font-weight: 700;
}

hr {
    border: none;
    border-top: 1px solid thistle;
}

.post-meta {
    font-style: italic;
    font-size: small;
}

img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

blockquote {
    font-style: italic;
    padding: 1rem;
}

blockquote p {
    margin: 0;
}

pre {
    overflow-x: auto;
    padding: 1rem;
}

pre,
code {
    background: #e0e0e0;
}

table {
    width: 100%;
}

table,
th,
td {
    border: thin solid #333;
    border-collapse: collapse;
    padding: 0.4rem;
}

.table-wrapper {
    overflow-x: auto;
}

@media (prefers-color-scheme: dark) {
    html {
        font-family: 'Times New Roman', Times, serif;
        background-color: #331D49;
        color: whitesmoke;
    }

    hr {
        border-top: 1px solid #AA98A9;
    }

    img {
        filter: brightness(0.9) contrast(0.9);
    }
}