---
layout: base.njk
---
<header>
    <p>🌙<i>{{ homepage.title or site.title }}</i></p>

    {% set subtitle = homepage.subtitle%}
    {% if subtitle %}
        <p><i>{{ subtitle }}</i></p>
    {% endif %}
</header>
<main>
    <hr>

    {%- for post in collections.post | reverse -%}
    <article>
        <p class="title">{{ post.data.title }}</p>
        <p class="post-meta">
        <time datetime="{{ page.date }}">{{ page.date | formatDate }}</time></p>
        {{ post.templateContent | safe }}
    </article>
        {%- endfor -%}
    
</main>